.page-title {
    display: block !important;
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
}

.home-container {
    max-width: 650px;
    margin: auto;
}

.form-container {
    width: 400px;
    margin: auto;
}

.form-post {
    margin-bottom: 40px;
    border: 1px solid teal;
    padding: 10px 25px;
    border-radius: 10px;
}

.input-post {
    white-space: pre-line;
}

.post-display {
    white-space: pre-line;
}

.menubar-wrap {
    background-color: transparent;
    position: relative;
    width: 100%;
    display: flex;
    height: 75px;
    z-index: 999;
    align-items: center;
    padding: 0px 115px;
}

/* .menu-wrap{
    width: 100%;
    flex-direction: column;
    margin: 0 60px;
    justify-content: space-between;
} */

.item-wrap{
    display: flex;
}


.sidebar-wrap {
    position: sticky;
}
/* .pic-single-page {
    width: 117px;
    height: 117px;
    border-radius: 117/2;
    border: teal;
    overflow: hidden;
} */

.ui.secondary.pointing.menu {
    margin-left: 25px;
    width: 100%;
    margin-right: 25px;
    border-bottom: 2px solid rgba(34,36,38,.15);
    background-color: white;
    justify-content: flex-end;
}

.ui.thin.left.sidebar, .ui.thin.right.sidebar {
    width: 90px;
    padding-top: 77px;
}
@media screen and (max-width: 850px){
    .ui.visible.sidebar {
        visibility: hidden;
        transform: translate3d(0,0,0);
    }
}